:root {
    background-color: gray;
}

body {
    display: flex;
    background-color:rgb(163, 162, 162);
    margin: auto;
    width: 70vw;
    font-family: 'Noto Sans JP', sans-serif;
}

.rightside {
    width: 70vw;
    align-items: center;
}

.leftside {
    position: relative;
}

body p:first-child {
    margin: 2rem;
    font-size: 1.3rem;
}

body p:nth-child(2) {
    margin: 2rem;
    font-size: 1.3rem;
}

body p:last-child {
    margin-left: 2rem;
}

input#newsletter {
    margin-left: 2rem;
    margin-right: 0.5rem;
    vertical-align: sub;
}

button {
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    min-width: 270px;
    width: 20%;
    min-height: 41px;
    height: 2.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

span#potions:hover {
    color: purple;
    font-weight: bold;
}

.leggo {
    border: 1px solid gray;
    box-shadow: 0px 3px 5px gray;
}

h1 {
    padding-left: 2rem;
}

img {
    display: block;
    width: 30vw;
    position: relative;
}

img#odin {
    position: absolute;
    bottom: 0.5%;
    right: 2%;
    width: 35px;
    height: 35px;
}


#phototext {
    text-align: center;
    position: absolute;
    bottom: 0.5%;
    left: 2%;
}


.form-box { 
    padding: 0px 32px 32px 32px;
    display: flex;
    flex-wrap: wrap;
}

label, input:placeholder-shown {
    font-size: 1.2em;
}

label {
    text-align: right;
    width: 50%;
    white-space: nowrap;
}

.column1 {
    width: 50% - 1rem;
    float: left;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-left: 1rem;
}

.column2 {
    width: 50% - 1rem;
    float: left;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-left: 1rem;
}

input,
textarea,
select {
  width: 250px;
  height: 24px;
  padding: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input#newsletter {
    width: 20px;
}

#phototext, :any-link {
    color:white;
}

a:hover,
input:hover,
button:hover,
select:hover,
a:focus,
input:focus,
button:focus,
select:focus {
  font-weight: bold;
}