body {
    display: flex;
    background-color:rgb(163, 162, 162);
    margin: auto;
    height: 100vh;
    width: 100vw;
    font-family: 'Noto Sans JP', sans-serif;
}

.rightside {
    width: 60vw;
    align-items: center;
}

.leftside {
    width: 40vw;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.leftside img#campfire {
    height: 100%;
    width: 100%;
}

body p:first-child {
    margin: 2rem;
    font-size: clamp(1.1rem, 1.3rem, 24px);
    white-space: pre-line;
}

body p:nth-child(2) {
    margin: 2rem;
    font-size: clamp(1.1rem, 1.3rem, 24px);
}

body p:last-child {
    margin-left: 2rem;
}

input#newsletter {
    margin-left: 2rem;
    margin-right: 0.5rem;
    vertical-align: sub;
}

button {
    font-size: clamp(1rem, 1.1rem, 20px);
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    min-width: 270px;
    width: 20%;
    min-height: 41px;
    height: 2.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

button:hover,
button:focus {
    font-weight: bold;
    color: rgb(153, 0, 0);
}

.tooltip {
    position: relative;
    display: inline-block;
  }

 .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px;

    position: absolute;
    z-index: 1;
    top: -15px;
    left: 105%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}

span#potions:hover {
    color: purple;
    font-weight: bold;
}

.leggo {
    border: 1px solid gray;
    box-shadow: 0px 3px 5px gray;
}

h1 {
    padding-left: 2rem;
}

img#campfire {
    display: flex;
    width: 30vw;
    max-height:100%;
    position: relative;
    align-self: center;
}

img#odin {
    position: absolute;
    bottom: 0.5%;
    right: 2%;
    width: 35px;
    height: 35px;
}

#phototext {
    text-align: center;
    position: absolute;
    bottom: 0.5%;
    left: 2%;
}

form#test {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.form-box { 
    padding: 0px 32px 32px 32px;
    display: flex;
    flex-wrap: wrap;
}

label, input:placeholder-shown {
    font-size: clamp(1.2rem, 1.3rem, 24px);
}

label {
    text-align: right;
    margin-left:2px;
    min-width: 50%;
    white-space: nowrap;
}

.column1 {
    min-width: calc(50%-1rem);
    float: left;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-left: 1rem;
}

.column2 {
    min-width: calc(50%-1rem);
    float: left;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-left: 1rem;
}

input {
  width: clamp(275px, 20vw, 400px);
  height: clamp(22px, 28px, 35px);
  padding: 0.5rem;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input#newsletter {
    width: 20px;
}

#phototext, :any-link {
    color:white;
}

a:hover,
input:hover,
select:hover,
a:focus,
input:focus,
select:focus {
  font-weight: bold;
}

input:focus {
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgb(56, 55, 55);
}

form.submitted input:invalid{
    border:1px solid rgb(186, 18, 18);
    box-shadow: 2px 2px 3px rgb(106, 11, 11);
}

form.submitted input:valid{
    border:1px solid rgb(7, 106, 7);
    box-shadow: 2px 2px 3px rgb(30, 151, 5);
}
